# This differs from `setup.py` requirements since this declares the requirements
# for running this module for the reports (rather than imported externally).

# The actual API, inlined for the latest changes.
-e ./pyrh

# Powers jupyter notebook
jupyter
ipykernel
pandas
matplotlib
